
.space {
  background-image: url("https://img.freepik.com/premium-vector/space-background-with-stars-vector-illustration_97886-319.jpg");
  background-color: black;
}


.orange {
  background-color: chocolate;
}
